{% extends "tasks/base.html" %}

{% block content %}
    <form class="add-task" action="{{ form_action }}" method="POST">
        {% csrf_token %}

        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        
        {% if is_edit %}
            <button type="submit">Edit Task</button>
        {% else %}
            <button type="submit">Add Task</button>
        {% endif %}
    </form>
{% endblock content %}