{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}To-do List{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
</head>
<body>
    <header>
        <h1>My To-do List</h1>
        <nav>
            <a class="menu-link" href="{% url "tasks:index" %}">Home</a>
            <a class="menu-link" href="{% url "tasks:add_task" %}">Add Task</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock content %}
    </main>
    
    {% include "tasks/_pagination.html" %}

    <footer>
        <p>&copy; 2025 - Meu Projeto Django</p>
    </footer>
</body>
</html>