{% extends "tasks/base.html" %}

{% block title %}Home - To-do List{% endblock title %}

{% block content %}
    <h2>To-do</h2>

    <ul>
        {% if page_obj %}
            {% for task in page_obj %}
            <li class="task-list-item">
                <input type="checkbox" name="checkbox" id="checkbox">
                <a class="task-link" href="#"><strong>{{ task.title }}</strong></a>
            </li>
            {% endfor %}
        {% else %}
            <li class="task-list-item">No tasks to do yet.</li>
        {% endif %}
    </ul>
{% endblock content %}