{% extends "tasks/base.html" %}

{% block content %}
    <div class="main-content">
        <h2>To-do</h2>
        <ul>
            {% if page_obj %}
                {% for task in page_obj %}
                <li class="task-list-item">
                    <form action="{% url "tasks:complete_task" task.id %}" method="POST">
                        {% csrf_token %}

                        <input type="checkbox" onchange="this.form.submit()">
                    </form>
                    <a class="task-link" href="{% url "tasks:show_task" task.id %}">
                        <strong>{{ task.title }}</strong>
                    </a>
                </li>
                {% endfor %}
            {% else %}
                <li class="task-list-item">No tasks to do yet.</li>
            {% endif %}
        </ul>
    </div>
{% endblock content %}